@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body#main{
   height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

#main_input{
    padding: 20px;
    height: 100vh;
    resize: none;
    font-size: 12pt;
    width: 100%;
}

#main_input.half{
    width: 50%;
}




/*RIGHT-CLICK MENU*/
#context-menu{
    position: fixed;
    z-index: 10000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    
    display: none;
}

#context-menu.visible{
    display:block;
}

#context-menu .item{
    padding: 8px 10px;
    font-size: 15px;
    color: #eee;
    cursor: pointer;
    border-radius: inherit;
}

#context-menu .item:hover{
    background: #303030;
}



#toggle-button{
    position:fixed;
    text-align: center;
    top: 50%;
    right: 50%;
    transform: translate(0%, -50%);
    z-index: 30;

    width: 50px;
    height: 100px;
    border-radius: 50px 0 0 50px;
    color: white;
    background: #222;
    user-select: none;
}

#toggle-button.right{
    right:0%;
}

#toggle-button:hover{
    cursor:pointer;
    background: #323;
}

.centered-element{
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0%;
    width:90%;
    transform: translateY(-50%);
}


/* SELECTOR **************************/
#selector h3{
    margin: 10pt;
}

#s-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200%;
}

#s-form{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    
    padding: 20px 20px;
    
    z-index: 10000;
    
    width:auto;
    
    border-radius: 10px;
    
    background: #1b1a1a;
    color: white;
    
    display:none;
    
    
}

#s-form.visible{
    display:block;
}

#s-form input[type=text]{
    margin: 0 5px;
    background: #303030;
    border: 1px solid white;
    border-radius: 4px;
    padding: 2px;
    color: white;
}
#s-form input[type=submit]{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 4px;
    cursor: pointer;
}



/* PDF ************************/
#pdf{
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0%;
    right: 0%;
    display: none;
}

#pdf.visible{
    display: block;
}